extends layout

block content
  h1  Live Ice Skating scoreboard

  table.rank 
    tableheader 
      tr 
        th Skater
        th Score
    tablebody 
      tr 
        td Brian Boitano
        td 1
      tr 
        td Kurt Browning
        td 1
      tr 
        td Richard Button 
        td 1
      tr 
        td Patrick Chan 
        td 1
      tr 
        td John Curry 
        td 1
      tr 
        td Arthur Dmitriev
        td 1
      tr 
        td Peggy Fleming 
        td 1
      tr 
        td Gillis Grafström 
        td 1
      tr 
        td Dorothy Hamill 
        td 1
      tr 
        td Scott Hamilton 
        td 1
  script(src='javascripts/app.js')

