extends layout

block content
  h1  ⛸ Live Ice Skating scoreboard ⛸

  table.rank 
    tableheader 
      tr 
        th Skater
        th Score 
    tablebody 
      tr 
        td Brian Boitano
        td.bb 0 
      tr 
        td Kurt Browning
        td.kb 0
      tr 
        td Richard Button 
        td.rb 0
      tr 
        td Patrick Chan 
        td.pc 0
      tr 
        td John Curry 
        td.jc 0
      tr 
        td Arthur Dmitriev
        td.ad 0
      tr 
        td Peggy Fleming 
        td.pf 0
      tr 
        td Gillis Grafström 
        td.gg 0
      tr 
        td Dorothy Hamill 
        td.dh 0
      tr 
        td Scott Hamilton 
        td.sh 0
        
  script(src='javascripts/live.js')