extends layout

block content
  h1  ⛸ Live Ice Skating scoreboard ⛸

  table.rank 
    tableheader 
      tr 
        th Skater
        th Score 
    tablebody 
      tr 
        td Brian Boitano
        td.bb 1 
      tr 
        td Kurt Browning
        td.kb 1
      tr 
        td Richard Button 
        td.rb 1
      tr 
        td Patrick Chan 
        td.pc 1
      tr 
        td John Curry 
        td.jc 1
      tr 
        td Arthur Dmitriev
        td.ad 1
      tr 
        td Peggy Fleming 
        td.pf 1
      tr 
        td Gillis Grafström 
        td.gg 1
      tr 
        td Dorothy Hamill 
        td.dh 1
      tr 
        td Scott Hamilton 
        td.sh 1
  script(src='javascripts/app.js')